spring:
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

  datasource:
    url: jdbc:postgresql://localhost:5432/order
    username: graziuser
    password: grazipassword


  jpa:
    database: POSTGRESQL
    show-sql: true
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect



management:
  endpoints:
    web:
      exposure:
        include: "*"

server:
  port: 8083

app:
  message: "Hello Order"