spring:
  mongodb:
    uri: mongodb://localhost:27017
    database: userservice

  rabbitmq:
#    host: localhost
#    port: 5672
#    username: guest
#    password: guest

    host: ${RABBITMQ_HOST:localhost}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USERNAME:guest}
    password: ${RABBITMQ_PASSWORD:guest}
    virtual-host: ${RABBITMQ_VHOST:guest}
    connection-timeout: 30000
management:
  endpoints:
    web:
      exposure:
        include: "*"

#  endpoint:
#    shutdown:
#      enabled: true


server:
  port: 8082

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

logging:
  file:
    name: logs/${spring.application.name}.log
  logback:
    rollingpolicy:
      max-file-size: 5MB
      max-history: 5