spring:
  data:
    mongodb:
      uri: mongodb://localhost:27017/userservice
      database: userservice

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

management:
  endpoints:
    web:
      exposure:
        include: "*"

server:
  port: 8082