spring:
  application:
    name: configserver
  rabbitmq:
#    host: localhost
#    port: 5672
#    username: guest
#    password: guest

    host: ${RABBITMQ_HOST:localhost}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USERNAME:guest}
    password: ${RABBITMQ_PASSWORD:guest}
    virtual-host: ${RABBITMQ_VHOST:guest}
    connection-timeout: 30000

  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          search-locations: file:///C:\Projects\microservices\ecom-microservices\configserver\src\main\resources\config


management:
  endpoints:
    web:
      exposure:
        include: "*"

server:
  port: 8888